.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1.5rem 1rem;
    background-color: rgba(255,255,255,0.07);
    backdrop-filter: blur(0.1rem);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container .main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .container .main-nav .menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .container .main-nav .menu li {
    margin-right: 4.8rem;
  }

  .header .container .main-nav .menu-social {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-left: 4rem;
    gap: 3.4rem;
  }

  header .container nav .menu-social .social-item {
    transition: all 0.2s;
  }
  .title {
    max-width: 550px;
  }
  .title h1 {
      font-family: "Inter";
      font-weight: 800;
      font-size: 6.4rem;
      line-height: 9.0rem;
      color: var(--white-color);
      margin-top: 7rem;
      text-align: center;
  }

  .title h1 span{
    white-space: pre;
    color: var(--primary-color);
  }

  .s-hero .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .s-hero .container .title p {
    color: var(--primary-color);
    margin: 3.2rem 0;
    font-size: 1.8rem;
  }

  .techs{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4.8rem;
  }

  .techs .tech {
    margin-right: .8rem;
  }
  .s-success {
    margin-top: 14.4rem;
  }
.s-success .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  .title-success {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

.title-success h2, .title-success h2 span {
  font-size: 6.4rem;
  line-height: 7.74rem;
}
.tag{
  color: var(--black-color);
  display: inline;
}
.cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--black-color);
}

.card {
  justify-content: space-evenly;
  margin-left: 3.2rem;
  text-align: left;
  padding-top: 5rem;
}
.card, .card-active {
  width: 28rem;
  height: 30.4rem;
}
.card {
  background-color: var(--white-color);
  transition: all .2s linear;
}
.active {
  background-color: var(--primary-color);
}
.card-title {
  font-size: 6.4rem;
  padding-left: 1.7rem; 
}
.card:hover {
  transform: scale(102%);
  box-shadow: 5px 5px var(--primary-color);
}
.active:hover{
  box-shadow: 5px 5px var(--white-color);
}
.card-info {
  font-size: 3.2rem;
  line-height: 3.8rem;
  margin-top: 5.5rem;
  padding-bottom: 4.4rem;
  padding-left: 2.6rem;
}

.card-info p strong {
  font-weight: 600;
  
}

.s-about{
  margin-top: 5.2rem;
  background-color: var(--semi-black);
  padding-bottom: 10.9rem;
}
.s-about .container {
  display: flex;
  justify-content: space-between;
}
.s-about .container .about-me {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.s-about .container .about-me h2{
  font-size: 6.4rem;
  font-weight: 900;
  margin-bottom: 2.4rem;
}
.s-about .container .about-me p{
  width: 70.5rem;
  font-family: Poppins;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.my-picture {
  width: 36.8rem;
  height: 36.8rem;
  align-self: center;
}
.s-about .container .about-me ul{
  display: flex;
}

.s-about .container .about-me ul li{
  margin-top: 3.2rem;
}
.s-about .container .about-me ul li:nth-child(1){
  margin-right: 1.6rem;
}

.s-projects .container .title-projects h2{
  font-weight: 900;
  font-size: 6.4rem;
}
.s-projects .container .title-projects {
  padding-top: 4.8rem;
  padding-bottom: 6.4rem;
}
.s-projects .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.s-projects .container .projects{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100rem;
  gap: .2em;
}

.s-projects .container .projects img {
    border-radius: 1%;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.s-projects .container .projects img:hover {
  transform: translateY(-2%);
}
.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  overflow-x: hidden;
  position: relative;
  
}
.carousel-imgs {
  display: flex;
  transform: translateX(0);
  transition: transform 0.25s;
  align-items: center;
  justify-content: center;
}

.carousel-imgs img{
  width: 500px;
}
.next, .previous {
  opacity: 0.25;
  transition: opacity 0.25s;
  z-index: 1;
  position: absolute;
}
.previous {
  left: .5rem;
}
.next {
  right: .5rem;
}
.next, .previous:hover { 
  opacity: .7;
}

.s-contact .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 9.2rem;
}
.s-contact .container .title-contact {
  margin-bottom: 3.2rem;
}
.s-contact .container .title-contact h2{
  font-size: 6.4rem;
  line-height: 7.2rem;
  margin-bottom: 2.4rem;
}

.s-contact .container .form-contact {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 6.4rem;
}


.s-contact .container .form-contact .input-group input:focus, textarea:focus {
  border: 1px solid var(--primary-color);
}
.s-contact .container .form-contact .input-button {
  align-self: flex-end;
}

footer {
  text-align: center;
  background-color: var(--semi-black);
  margin-top: 6rem;
  padding: 5.2rem 0;
}
footer .copy p{ 
  font: 400 1.6rem Poppins ;
}